{% extends 'base.html.twig' %}
{% block title %}Le Mées{% endblock %}

{% block body %}


    {# ----------------------------------------------------MAIN---------------------------------------------------- #}
    
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12"> 
					<div class="section-heading">
						<h3 class="static-pages">Conditions générales d'utilisation</h3>

						<h5 class="static-pages">1. Introduction</h5>
						<p>	Bienvenue sur notre site web de la boulangerie LM Le Mées.<br>
							En accédant à notre site, vous acceptez les présentes Conditions Générales d'Utilisation.
							Veuillez les lire attentivement avant d'utiliser notre site.
						</p>

						<h5>2. Définitions</h5>
						<p>	Site : Le site web de la boulangerie LM Le Mées. <br>
							Utilisateur : Toute personne physique ou morale accédant au Site. <br>
							Boulangerie : LM Le Mées, entreprise exploitant le Site.
						</p>

						<h5>3. Acceptation des CGU</h5>
						<p>	En utilisant notre Site, vous acceptez sans réserve les présentes CGU. Si vous n'êtes pas
							d'accord avec ces conditions, veuillez ne pas utiliser le Site.
						</p>

						<h5>4. Accès au Site</h5>
						<p>	Le Site est accessible gratuitement à tout Utilisateur disposant d'un accès à Internet. <br>
							Tous les coûts afférents à l'accès au Site, que ce soit les frais matériels, logiciels ou d'accès à Internet, sont
							exclusivement à la charge de l'Utilisateur.
						</p>

						<h5>5. Services proposés</h5>
						<p>	Notre Site propose les services suivants : <br>
							Présentation de nos produits de boulangerie et de pâtisserie. <br>
							Commande en ligne de nos pizza via l'application SmartPizza. <br>
							Informations sur nos points de vente et horaires d'ouverture. <br>
							Contact et service client.
						</p>

						<h5>6. Disponibilité du Site</h5>
						<p>	La Boulangerie s'engage à faire ses meilleurs efforts pour assurer l'accessibilité du Site à tout moment. <br>
							Cependant, elle ne pourra être tenue responsable en cas d'indisponibilité du Site, pour quelque cause que ce soit.
						</p>

						<h5>7. Propriété intellectuelle</h5>
						<p>	Le contenu du Site, y compris les textes, images, graphismes, logos, marques, etc., est
							protégé par le droit de la propriété intellectuelle. <br> 
							Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du Site, 
							quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de la
							Boulangerie.
						</p>

						<h5>8. Protection des données personnelles</h5>
						<p>	La Boulangerie s'engage à protéger les données personnelles des Utilisateurs. <br>
							Pour plus d'informations, veuillez consulter notre Politique de Confidentialité.
						</p>

						<h5>9. Modification des CGU</h5>
						<p>	La Boulangerie se réserve le droit de modifier à tout moment les présentes CGU. <br>
							Les modifications seront effectives dès leur publication sur le Site. Il est conseillé aux
							Utilisateurs de consulter régulièrement les CGU.
						</p>


						<h5>10. Loi applicable et juridiction</h5>
						<p>	Les présentes CGU sont régies par la loi française. En cas de litige, et après une tentative
							de recherche de solution amiable, compétence est attribuée aux tribunaux français.
						</p>

						<h5>11. Contact</h5>
						<p>	Pour toute question concernant les présentes CGU, vous pouvez nous contacter à l'adresse
							suivante : lemees40@gmail.com .
						</p>

						<p>	En utilisant notre Site, vous reconnaissez avoir lu et compris ces CGU et vous acceptez
							d'être lié par leurs termes et conditions. Merci de votre confiance et bonne navigation sur
							le site de LM Le Mées !
						</p>
					</div>
				</div>
			</div> 
		</div>
	</section>

{% endblock %}