{% extends 'base.html.twig' %}
{% block title %}Le Mées{% endblock %}

{% block body %}


		{# ----------------------------------------------------MAIN---------------------------------------------------- #}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-heading">
							<h3>Conditions Générales de Vente</h3>

							<h5>1. Introduction</h5>
								<p> Les présentes Conditions Générales de Vente régissent les ventes de produits effectuées
									via le distributeur à pizza situé à l'exterieur de la Boulangerie LM Le Mées. <br>
									En commandant, vous acceptez sans réserve les présentes CGV. Veuillez les
									lire attentivement avant de passer commande.
								</p>

							<h5>2. Définitions</h5>
								<p>
									Bien : le distributeur à pizza. <br>
									Client : Toute personne physique ou morale passant commande au distributeur.<br>
									Boulangerie : LM Le Mées, entreprise exploitant le distributeur.
								</p>

							<h5>3. Produits</h5>
								<p>
									Les produits proposés à la vente sont ceux décrits sur le Site, dans la limite des stocks
									disponibles, consultables sur le distributeur ou via l'application mobile Smart Pizza. <br>
									La Boulangerie s'efforce de présenter les caractéristiques essentielles de ces produits avec
									la plus grande exactitude possible. <br>
									Toutefois, si des erreurs ou omissions venaient à se produire dans cette présentation, la
									responsabilité de la Boulangerie ne pourrait être engagée.
								</p>

							<h5>4. Prix</h5>
								<p>
									Les price des produits sont indiqués en euros, toutes taxes comprises (TTC). <br>
									La Boulangerie se réserve le droit de modifier ses price à tout moment, étant entendu que le
									price figurant sur le distributeur au moment de la commande sera le seul applicable au Client.
								</p>

							<h5>5. Commande</h5>
								<p>
									5.1 Processus de commande : Pour passer commande, le Client doit suivre le processus de
									commande sur le panneau de commande du distributeur.<br>
									Après avoir sélectionné les produits souhaités, le Client valide sa commande en cliquant sur
									le bouton de validation.
								</p>
								<p>
									5.2 Disponibilité des produits : Les offres de produits sont valables dans la limite des
									stocks disponibles.
								</p>

							<h5>6. Paiement</h5>
								<p>
									Le paiement des commandes s'effectue par carte bancaire au distributeur.  <br>
									Le paiement est exigible en totalité au moment de la commande.
								</p>

							<h5>7. Rétractation et retour</h5>
								<p>
									Conformément à la législation en vigueur, pour les denrées périssables, le droit de rétractation
									ne peut être exercé. <br>
									En cas de produit défectueux ou non conforme, le Client peut contacter la Boulangerie pour
									demander un remboursement ou un échange.
								</p>

							<h5>8. Responsabilité</h5>
								<p>
									La Boulangerie ne pourra être tenue responsable des dommages résultant d'une mauvaise
									utilisation du produit acheté. <br>
									La responsabilité de la Boulangerie sera, en tout état de cause, limitée au montant de la
									commande.
								</p>

							<h5>9. Données personnelles</h5>
								<p>
									La Boulangerie s'engage à respecter la confidentialité des données personnelles communiquées
									par le Client sur le Site et à les traiter conformément à la législation en vigueur. <br>
									Pour plus d'informations, veuillez consulter notre Politique de Confidentialité.
								</p>

							<h5>10. Droit applicable et juridiction compétente</h5>
								<p>
									Les présentes CGV sont régies par la loi française. <br>
									En cas de litige, et après une tentative de recherche de solution amiable, 
									compétence est attribuée aux tribunaux français.
								</p>

							<h5>11. Contact</h5>
								<p>
									Pour toute question relative aux présentes CGV ou pour toute réclamation, le Client peut
									contacter la Boulangerie à l'adresse suivante : lemees40@gmail.com.
								</p>

							En passant commande sur notre Site, vous reconnaissez avoir lu et compris ces CGV et vous
							acceptez d'être lié par leurs termes et conditions. Merci de votre confiance et bonne
							dégustation avec les produits de LM Le Mées !
						</div>
					</div>
				</div>
			</div>
		</section>


{% endblock %}