{% extends 'base.html.twig' %}
{% block title %}Le Mées{% endblock %}

{% block body %}

    {# ----------------------------------------------------MAIN---------------------------------------------------- #}

<section class="section">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h3 class="static">Mentions légales</h3>
                        <h5 class="static">1. Éditeur du site :</h5>
                        <p> Nom de la société : Le Mées LM <br>
                            Forme juridique : SAS <br>
                            Capital social : 1 000€ <br>
                            Adresse du siège social : Lotissement Espace Remazailles II Lot 15, 40990 Mées <br>
                            Numéro de téléphone : 06.48.48.79.19 <br>
                            Adresse e-mail : lemees40@gmail.com <br>
                            RCS : Dax B 897 693 248 <br>
                            Numéro de TVA intracommunautaire : FR80897693248 <br>
                            Directeur de la publication : Laure Matos Da Silva</p>

                        <h5>2. Hébergement du site :</h5>
                        <p> Nom de l'hébergeur : [Nom de l'hébergeur] <br>
                            Adresse : [Adresse complète de l'hébergeur] <br>
                            Numéro de téléphone : [Numéro de téléphone de l'hébergeur] <br>
                            Adresse e-mail : [Adresse e-mail de l'hébergeur]</p>

                        <h5>3. Propriété intellectuelle :</h5>
                        <p> Le contenu du site LM Le Mées est protégé par les lois en vigueur sur la propriété
                            intellectuelle et le droit d'auteur.
                            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie
                            des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf
                            autorisation écrite préalable de LM Le Mées.</p>

                        <h5>4. Données personnelles :</h5>
                        <p> Les informations recueillies sur ce site ne sont pas enregistrées dans un fichier informatisé par
                            LM Le Mées. Elles ne sont donc pas conservées.</p>

                        <h5>5. Cookies :</h5>
                        <p> Le site LM Le Mées n'utilise pas de cookies.
                        </p>

                        <h5>6. Limitation de responsabilité :</h5>
                        <p> LM Le Mées ne saurait être tenue responsable des dommages directs ou indirects
                            causés au matériel de l’utilisateur, lors de l’accès au site LM Le Mées, et résultant
                            soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées, soit de
                            l’apparition d’un bug ou d’une incompatibilité.</p>

                        <h5>7. Droit applicable et attribution de juridiction :</h5>
                        <p> Tout litige en relation avec l’utilisation du site LM Le Mées est soumis au droit
                            français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de
                            Dax.</p>

                        <h5>8. Contact :</h5>
                        <p> Pour toute question relative aux présentes mentions légales du site, vous pouvez nous
                            contacter à l'adresse suivante : lemees40@gmail.com .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}