<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}LM Le Mées{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>
    <!-- En-tête du site -->
        {% include '_partials/header.html.twig' %}

    <!-- Contenu principal -->

        {% block body %}{% endblock %}

    <!-- Pied de page -->
        {% include '_partials/footer.html.twig' %}

        <!-- Inclure les fichiers JavaScript -->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        {# <script>
            document.getElementById('navbar-toggle').addEventListener('click', function () {
            document.querySelector('.navbar-links').classList.toggle('active');
            });
        </script>#}
        {% block javascripts %}{% endblock %}

    </body>

</html>
